*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

@media (max-width: 376px) {
  html {
    font-size: 50%;
    overflow-x: hidden;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  direction: rtl;
  overflow-x: hidden;
}

@font-face {
  font-family: 'Yekan';
  src: url("../assets/font/Yekan.eot");
  /* IE9 Compat Modes */
  src: url("../assets/font/Yekan.eot?#iefix") format("embedded-opentype"), url("../assets/font/Yekan.woff2") format("woff2"), url("../assets/font/Yekan.woff") format("woff"), url("../assets/font/Yekan.otf") format("opentype"), url("../assets/font/Yekan.ttf") format("truetype"), url("../assets/font/Yekan.svg#Yekan") format("svg");
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Yekan;
}

.logo__title {
  font-weight: 700;
  font-size: 1.8rem;
}

.logo__description {
  font-size: 1.2rem;
  font-weight: lighter;
}

.u-margin-bottom-small {
  margin-bottom: 1.6rem;
}

.u-margin-bottom-huge {
  margin-bottom: 5.2rem;
}

.u-margin-left-medium {
  margin-left: 1.2rem;
}

.deactive {
  -webkit-filter: grayscale(80%);
          filter: grayscale(80%);
}

.active {
  color: #2361B5;
  opacity: 1 !important;
}

.header {
  padding: 4.4rem;
}

.header__img {
  height: 10rem;
  position: relative;
}

.header__shape {
  position: absolute;
  left: -12%;
  width: 85rem;
}

@media (max-width: 376px) {
  .header__shape {
    display: none;
  }
}

.header__doc {
  width: 40rem;
  position: absolute;
  left: 9%;
  top: 111%;
}

@media (max-width: 376px) {
  .header__doc {
    position: static;
  }
}

.header__box {
  position: relative;
}

@media (max-width: 376px) {
  .header__box {
    height: 85vh;
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 20rem;
  margin-top: 10rem;
}

@media (max-width: 376px) {
  .header__info {
    margin: 0;
  }
}

.header__title {
  font-size: 3.6rem;
  color: #1894FF;
}

@media (max-width: 376px) {
  .header__title {
    text-align: center;
  }
}

.header__description {
  font-size: 1.8rem;
  font-weight: lighter;
}

@media (max-width: 376px) {
  .header__description {
    text-align: center;
  }
}

@media (max-width: 376px) {
  .header__description {
    display: none;
  }
}

.header__description--phone {
  display: none;
}

@media (max-width: 376px) {
  .header__description--phone {
    display: block;
  }
}

@media (max-width: 376px) {
  .header__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 20vh;
    width: 80%;
    margin-right: 2rem;
  }
}

.header__buttons a {
  text-align: center;
}

@media (max-width: 376px) {
  .header__buttons a:first-child {
    display: none;
  }
}

.header-direct-download-btn {
  display: none;
}

@media (max-width: 376px) {
  .header-direct-download-btn {
    display: block;
  }
}

nav {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 4rem 0;
}

@media (max-width: 376px) {
  nav {
    width: 100%;
    padding: 4rem 2rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 2rem;
  }
  nav .list,
  nav .list + a {
    display: none;
  }
  nav .hamburger {
    display: block;
  }
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo__img {
  width: 3.2rem;
  margin-left: 1rem;
}

@media (max-width: 376px) {
  .logo__img {
    width: 4.4025rem;
    margin-left: 1.8rem;
  }
}

.logo__info-box {
  margin-top: 1.1rem;
}

.logo__title {
  font-weight: 700;
  font-size: 1.8rem;
}

@media (max-width: 376px) {
  .logo__title {
    font-size: 2.25rem;
    margin-bottom: .5rem;
  }
}

.logo__description {
  font-size: 1.2rem;
}

@media (max-width: 376px) {
  .logo__description {
    font-size: 1.5rem;
  }
}

.list {
  width: 30%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #000;
}

.list__item {
  font-size: 1.6rem;
  opacity: 70%;
  cursor: pointer;
}

.list__link {
  text-decoration: none;
  color: inherit;
}

.hamburger {
  display: none;
}

.hamburger div {
  width: 2.5rem;
  height: 2px;
  background-color: #1894FF;
  margin-bottom: 5px;
}

.main > * {
  padding: 20rem 20rem;
}

.main .about {
  padding: 40rem 20rem 0;
}

@media (max-width: 376px) {
  .main .about {
    padding: 5rem;
  }
}

.main .download {
  padding: 0 20rem;
}

@media (max-width: 376px) {
  .main .download {
    padding: 0 5rem;
  }
}

.main .subscription {
  padding-top: 8rem;
  padding-right: 20rem;
}

@media (max-width: 376px) {
  .main .subscription {
    padding: 8rem 1.4rem 15rem 1rem;
  }
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 376px) {
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about__infoBox {
  padding: 2rem 4rem;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-right: 10rem;
}

@media (max-width: 376px) {
  .about__infoBox {
    margin: 0;
    padding: 0;
  }
}

.about__imgBox {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  margin-bottom: 4rem;
}

@media (max-width: 376px) {
  .about__imgBox img {
    width: 30rem;
  }
}

.about__title {
  font-size: 2rem;
  font-weight: bold;
  color: #2361B5;
  border-right: 4px solid #00DE9A;
  border-radius: .1rem;
  padding-right: 1rem;
}

@media (max-width: 376px) {
  .about__title {
    display: none;
    padding-right: 1.8rem;
  }
}

.about__title--phone {
  display: none;
}

@media (max-width: 376px) {
  .about__title--phone {
    display: block;
  }
}

.about__description {
  width: 90%;
  font-size: 1.6rem;
  font-weight: 100;
  opacity: 70%;
  margin-bottom: 9rem;
  line-height: 3.5rem;
}

@media (max-width: 376px) {
  .about__description {
    display: none;
  }
}

.about__description--phone {
  display: none;
}

@media (max-width: 376px) {
  .about__description--phone {
    display: block;
    width: 100%;
  }
}

.about__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 376px) {
  .about__cards {
    display: none;
  }
}

.about__cards .card {
  margin-bottom: 1.5rem;
  padding: 2rem 2.2rem;
  background-color: #fff;
  border-radius: 2rem;
  -webkit-box-shadow: -1px 1px 2rem 0 #aed9ff;
          box-shadow: -1px 1px 2rem 0 #aed9ff;
}

.about__cards .card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__cards .card-label {
  font-size: 1.4rem;
  font-weight: 100;
}

@media (max-width: 376px) {
  .facilities {
    padding: 0 5rem 10rem;
  }
}

.facilities .container {
  width: 90%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr 2fr 3fr;
      grid-template-rows: 1fr 2fr 3fr;
  row-gap: 2rem;
  -webkit-column-gap: 8rem;
          column-gap: 8rem;
      grid-template-areas: "header header header header" "services  pharmacy  pharmacy pharmacy " "services process  process process";
}

@media (max-width: 376px) {
  .facilities .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.facilities__title {
  font-size: 2rem;
  font-weight: bold;
  color: #2361B5;
  border-right: 4px solid #00DE9A;
  border-radius: .1rem;
  padding-right: 1rem;
  height: 3.2rem;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: header;
}

@media (max-width: 376px) {
  .facilities__title {
    display: none;
  }
}

.facilities__title--phone {
  display: none;
}

@media (max-width: 376px) {
  .facilities__title--phone {
    display: block;
    padding-right: 2rem;
  }
}

.facilities__pharmacy {
  padding: 1rem;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: pharmacy;
}

@media (max-width: 376px) {
  .facilities__pharmacy {
    width: 120%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.facilities__services {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: services;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (20rem)[2];
      grid-template-columns: repeat(2, 20rem);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 4rem;
}

@media (max-width: 376px) {
  .facilities__services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 75rem;
  }
}

.facilities__process {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: process;
}

@media (max-width: 376px) {
  .facilities__process {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.facilities__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem;
  background-color: #fff;
  border-radius: 2rem;
  -webkit-box-shadow: -1px 1px 2rem 0 #aed9ff;
          box-shadow: -1px 1px 2rem 0 #aed9ff;
}

.facilities__card--visit, .facilities__card--pharmacy {
  padding: 2.5rem 5rem;
}

@media (max-width: 376px) {
  .facilities__card--visit, .facilities__card--pharmacy {
    padding: 1.5rem 4rem;
  }
}

.facilities__card--shop {
  padding: 2.3rem 5.8rem;
}

@media (max-width: 376px) {
  .facilities__card--shop {
    padding: 1.3rem 4.8rem;
  }
}

.facilities__card--reservation {
  padding: 3rem 4rem;
}

@media (max-width: 376px) {
  .facilities__card--reservation {
    padding: 2rem 3rem;
  }
}

.facilities__label {
  font-size: 1.4rem;
  text-align: center;
  margin-top: 1.5rem;
  opacity: 60%;
}

.facilities__header {
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
}

.facilities__description {
  font-size: 1.6rem;
  line-height: 3.2rem;
  opacity: 70%;
}

.facilities__process {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.facilities__diagram {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 4rem;
          flex: 0 1 4rem;
  position: relative;
}

.facilities__step {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.facilities__line {
  width: .2rem;
  height: 14rem;
  background-color: #d1d1d193;
  position: absolute;
  right: 44%;
  top: 10%;
}

@media (max-width: 376px) {
  .facilities__line {
    height: 25rem;
  }
}

.facilities__circle-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.facilities__circle {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #E6F3FF;
  position: relative;
}

@media (max-width: 376px) {
  .facilities__circle {
    width: 4.1rem;
    height: 4.1rem;
  }
}

.facilities__circle--arrow {
  -webkit-transform: rotate(271deg);
          transform: rotate(271deg);
  position: absolute;
  top: 28%;
  right: 25%;
  width: 1.3rem;
}

@media (max-width: 376px) {
  .facilities__circle--arrow {
    width: 1.8rem;
  }
}

.facilities__circle--check {
  position: absolute;
  top: 28%;
  right: 25%;
  width: 1.3rem;
}

@media (max-width: 376px) {
  .facilities__circle--check {
    width: 1.8rem;
  }
}

.facilities__step-heading {
  font-size: 1.6rem;
  margin-top: 2rem;
  margin-right: 1rem;
}

@media (max-width: 376px) {
  .facilities__step-heading {
    margin: 4rem 1rem 0 0;
  }
}

.facilities__step-description {
  font-size: 1.4rem;
  opacity: .7;
  margin-right: 5rem;
  margin-top: .4rem;
}

@media (max-width: 376px) {
  .facilities__step-description {
    margin-right: 1.5rem;
  }
}

@media (max-width: 376px) {
  .facilities__icon--pharmacy {
    width: 6.25rem;
  }
}

@media (max-width: 376px) {
  .facilities__icon--shop {
    width: 4.5rem;
  }
}

.facilities .check {
  background-color: #00DE9A;
}

.download {
  position: relative;
  background-color: #0089FF;
  overflow: hidden;
}

@media (max-width: 376px) {
  .download {
    height: 111.625rem;
  }
  .download > img {
    display: none;
  }
}

.download .cloud {
  position: absolute;
}

.download .cloud-left {
  left: -10%;
  top: -6%;
  opacity: .5;
}

.download .cloud-right {
  right: -15%;
  top: -37%;
  -webkit-transform: rotate(-8deg);
          transform: rotate(-8deg);
}

.download__content {
  width: 100%;
  margin: 10r em auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 376px) {
  .download__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 111.625rem;
  }
}

.download__img-preview {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 40%;
}

@media (max-width: 376px) {
  .download__img-preview {
    margin-left: 44rem;
  }
}

.download__img-preview img {
  height: 55rem;
  margin-bottom: -1rem;
}

@media (max-width: 376px) {
  .download__img-preview img {
    height: 58.15375rem;
  }
}

.download__download-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 60%;
  height: 30rem;
  padding-right: 3rem;
  color: #fff;
}

@media (max-width: 376px) {
  .download__download-link {
    height: 58.15375rem;
    width: 100%;
    height: 80rem;
  }
}

.download__header {
  font-size: 2.4rem;
  font-weight: bold;
}

@media (max-width: 376px) {
  .download__header {
    font-size: 2rem;
  }
}

.download__text {
  font-size: 1.6rem;
  margin-top: 2rem;
}

@media (max-width: 376px) {
  .download__text {
    display: none;
  }
}

.download__text--phone {
  display: none;
}

@media (max-width: 376px) {
  .download__text--phone {
    display: block;
  }
}

.download__inputBox {
  position: relative;
  width: 100%;
}

@media (max-width: 376px) {
  .download__inputBox a {
    right: 70%;
    top: 12%;
  }
}

@media (max-width: 376px) {
  .download__social {
    margin: 0 4rem;
  }
}

.download__social-icon {
  width: 18rem;
  margin-left: 2rem;
  opacity: .9;
  cursor: pointer;
}

@media (max-width: 376px) {
  .download__social-icon {
    width: 22.5rem;
  }
}

@media (max-width: 376px) {
  .download__social--android {
    display: none;
  }
}

@media (max-width: 376px) {
  .download__social--sibapp {
    margin: 0 0 3rem;
  }
}

@media (max-width: 376px) {
  .download .input-field {
    width: 100%;
  }
}

.subscription {
  overflow: hidden;
  position: relative;
}

.subscription__cloud {
  position: absolute;
  right: -2%;
  z-index: -999;
}

@media (max-width: 376px) {
  .subscription__cloud {
    display: none;
  }
}

.subscription__content {
  margin-top: 10rem;
  background-color: #fff;
  border-radius: 2rem;
  -webkit-box-shadow: -1px 1px 2rem 0 #aed9ff;
          box-shadow: -1px 1px 2rem 0 #aed9ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 7.2rem 8rem 0 8rem;
}

@media (max-width: 376px) {
  .subscription__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 43.75rem;
    height: 66.45rem;
    padding-right: 4rem;
    padding-left: 2rem;
  }
}

.subscription__textBox {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (max-width: 376px) {
  .subscription__textBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    margin-top: 3rem;
  }
}

.subscription__title {
  font-size: 2rem;
  font-weight: bold;
  color: #2361B5;
  border-right: 4px solid #00DE9A;
  border-radius: .1rem;
  padding-right: 1rem;
  margin-bottom: 2rem;
}

@media (max-width: 376px) {
  .subscription__title {
    display: none;
  }
}

.subscription__title--phone {
  display: none;
}

@media (max-width: 376px) {
  .subscription__title--phone {
    display: block;
    width: 100%;
  }
}

.subscription__description {
  font-size: 1.6rem;
  line-height: 3.2rem;
  opacity: 70%;
}

@media (max-width: 376px) {
  .subscription__description {
    width: 100%;
    margin-bottom: 4rem;
    font-size: 1.5rem;
  }
}

.subscription__inputBox {
  position: relative;
}

@media (max-width: 376px) {
  .subscription__inputBox .input-field {
    margin: 0;
  }
  .subscription__inputBox a {
    padding-left: 1rem;
    right: 58%;
  }
}

.subscription__img {
  padding-right: 5rem;
}

@media (max-width: 376px) {
  .subscription__img {
    padding: 0;
    width: 32.7825rem;
  }
}

::-webkit-input-placeholder {
  opacity: .8;
  font-size: 1.4rem;
  font-family: inherit;
}

:-ms-input-placeholder {
  opacity: .8;
  font-size: 1.4rem;
  font-family: inherit;
}

::-ms-input-placeholder {
  opacity: .8;
  font-size: 1.4rem;
  font-family: inherit;
}

::placeholder {
  opacity: .8;
  font-size: 1.4rem;
  font-family: inherit;
}

@media (max-width: 376px) {
  ::-webkit-input-placeholder {
    font-size: 1.2rem;
  }
  :-ms-input-placeholder {
    font-size: 1.2rem;
  }
  ::-ms-input-placeholder {
    font-size: 1.2rem;
  }
  ::placeholder {
    font-size: 1.2rem;
  }
}

.footer__support {
  background-color: #1894FF;
  padding: 3rem 4rem;
}

@media (max-width: 376px) {
  .footer__support {
    padding: 1.5rem 3rem;
  }
}

.footer__support .container {
  width: 85%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 376px) {
  .footer__support .container {
    height: 19rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__response-and-support {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

@media (max-width: 376px) {
  .footer__response-and-support {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__support-heading {
  font-size: 2rem;
  margin-left: 2.5rem;
}

@media (max-width: 376px) {
  .footer__support-heading {
    margin: 0 0 2rem 0;
  }
}

.footer__response {
  font-size: 1.4rem;
  opacity: .9;
}

@media (max-width: 376px) {
  .footer__response {
    font-size: 1.5rem;
  }
}

.footer__links {
  background-color: #fff;
  padding: 8.6rem 12.6rem;
}

@media (max-width: 376px) {
  .footer__links {
    padding: 3.5rem;
    height: 44.25rem;
  }
}

.footer__links .container {
  height: 20rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 376px) {
  .footer__links .container {
    height: 30rem;
  }
}

.footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 376px) {
  .footer__main {
    height: 40rem;
  }
}

.footer__textBox {
  margin: 2.5rem 0;
}

@media (max-width: 376px) {
  .footer__textBox {
    margin-top: -2rem;
  }
}

.footer__textBox h2 {
  margin-bottom: 1rem;
}

@media (max-width: 376px) {
  .footer__textBox h2 {
    font-size: 2rem;
  }
}

.footer__textBox p {
  width: 78%;
  font-size: 1.4rem;
}

@media (max-width: 376px) {
  .footer__textBox p {
    font-size: 1.75rem;
    width: 100%;
  }
}

.footer__social {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 376px) {
  .footer__social {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.footer__heading {
  font-size: 1.6rem;
  margin-bottom: 1.4rem;
}

.footer__list {
  list-style: none;
}

.footer__link {
  text-decoration: none;
  color: #000;
  font-size: 1.4rem;
}

.footer__list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer a.active-item {
  font-size: 2rem;
  font-weight: bold;
  color: #2361B5;
  border-right: 4px solid #00DE9A;
  border-radius: .1rem;
  padding-right: 1rem;
  font-size: 1.4rem;
}

.footer__apps {
  margin-top: 2.5rem;
}

.footer__apps img:first-child {
  margin-left: 1.8rem;
}

@media (max-width: 376px) {
  .footer__services, .footer__pages, .footer__downloads {
    display: none;
  }
}

.footer .logo__title {
  font-size: 2.25rem;
}

.btn {
  font-size: 1.6rem;
  font-weight: bold;
  border-radius: 1rem;
  text-decoration: none;
  cursor: pointer;
}

.btn--download {
  background-color: #E6F3FF;
  color: #1894FF;
  margin-top: 1rem;
  padding: 1.4rem 3.2rem;
}

.btn--white {
  color: #1894FF;
  border: 1px solid #1894FF;
  padding: 1.5rem 2rem;
  margin-right: 1.5rem;
}

.btn--blue {
  background-color: #1894FF;
  color: #fff;
  padding: 1.4rem 3.9rem 1.7rem 3.7rem;
}

.btn--services {
  padding: 1rem 4.8rem;
}

.btn--coming-soon {
  background-color: #E7E7E7;
  color: #888888;
  padding: .7rem 1rem;
  font-size: 1.2rem;
  position: absolute;
  top: -9%;
}

.input-btn {
  color: #fff;
  text-decoration: none;
  font-size: 1.6rem;
  padding: .8rem 2.2rem;
  background-color: #1894FF;
  border-radius: 1rem;
  position: absolute;
  top: 10%;
  right: 55%;
}

.input-btn--sign-up {
  right: 63%;
}

.input-btn--sub {
  right: 53%;
}

.input-btn--pharmacy-big {
  font-size: 1.2rem;
  padding: .5rem 1rem;
  top: 7%;
  right: 80%;
}

.input-btn--pharmacy-small {
  font-size: .8rem;
  padding: .5rem .8rem;
  top: 7%;
  right: 80%;
}

.input-field {
  width: 70%;
  font-family: inherit;
  padding: 2.2rem 2rem 1.5rem 0;
  border-radius: 1rem;
  border: none;
  margin-bottom: 2rem;
}

.input-field:focus {
  outline: none;
}

.input-field--greyBackground {
  background-color: #F9F9F9;
  width: 90%;
}

.input-field--sub {
  width: 75%;
}

.pharmacies {
  width: 80%;
  padding: 6rem 12rem 20rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.pharmacies__quick-sign-up {
  padding-top: 3.5rem;
  width: 60%;
}

.pharmacies__name {
  padding-top: 3rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.pharmacies__title {
  width: 65%;
  line-height: 5rem;
  font-size: 3.5rem;
  color: #1894FF;
  margin-bottom: 2rem;
}

.pharmacies__description {
  font-size: 1.6rem;
  width: 71%;
  line-height: 3.5rem;
  margin-bottom: 7.5rem;
}

.pharmacies__inputBox {
  position: relative;
}

.pharmacies__infoBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  border-radius: 2rem;
  -webkit-box-shadow: -1px 1px 2rem 0 #aed9ff;
          box-shadow: -1px 1px 2rem 0 #aed9ff;
  border-radius: 1.4rem;
  margin-bottom: 5.5rem;
}

.pharmacies__infoBox--1 {
  position: relative;
  padding: 1.5rem 1.2rem 1rem 1rem;
  width: 90%;
}

.pharmacies__infoBox--2, .pharmacies__infoBox--3 {
  padding: 1rem;
  width: 62%;
  font-size: .8rem;
}

.pharmacies__infoBox--2 {
  opacity: .6;
  margin-right: 6rem;
}

.pharmacies__infoBox--3 {
  opacity: .4;
  margin-right: 20rem;
  position: relative;
}

.pharmacies__infoBox .person-1 {
  width: 7.5rem;
}

.pharmacies__infoBox .person-2 {
  width: 5.2rem;
}

.pharmacies__info {
  margin-right: 1.5rem;
}

.pharmacies__locationBox {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pharmacies__main-heading {
  font-size: 2rem;
}

.pharmacies__sub-heading {
  font-size: 1.3rem;
}

.pharmacies__address {
  margin-right: 1rem;
}

.numOfPharmacies {
  padding: 2.5rem 0 3rem;
  background-color: #1894FF;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.numOfPharmacies .circle {
  position: absolute;
}

.numOfPharmacies .circle-left {
  right: -1%;
  top: 2%;
}

.numOfPharmacies .circle-right {
  left: -1%;
  top: 2%;
}

.numOfPharmacies .box {
  color: #fff;
}

.numOfPharmacies .box__title {
  font-size: 1.6rem;
  margin-bottom: 1.7rem;
  text-align: center;
}

.numOfPharmacies .box__number {
  font-size: 3.6rem;
}

.services {
  padding: 12rem 14rem;
}

.services__textBox-main-heading {
  font-size: 2rem;
  font-weight: bold;
  color: #2361B5;
  border-right: 4px solid #00DE9A;
  border-radius: .1rem;
  padding-right: 1rem;
  margin-bottom: 1.5rem;
  padding-right: 2rem;
}

.services__textBox-heading {
  font-size: 2rem;
  font-weight: bold;
  color: #2361B5;
  border-right: 4px solid #00DE9A;
  border-radius: .1rem;
  padding-right: 1rem;
  padding-right: 0;
  border-right: 0;
  margin-bottom: 1.2rem;
}

.services__textBox-text {
  font-size: 1.6rem;
  line-height: 3.2rem;
  opacity: 70%;
}

.services__cardBox {
  width: 94%;
  height: 50rem;
  margin-top: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services__cardBox .card {
  background-color: #fff;
  border-radius: 2rem;
  -webkit-box-shadow: -1px 1px 2rem 0 #aed9ff;
          box-shadow: -1px 1px 2rem 0 #aed9ff;
  width: 38%;
  padding: 0 2rem 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__cardBox .card img {
  width: 10.288rem;
}

.FQ {
  padding-top: 2rem;
}

.FQ__title {
  position: relative;
  background-color: #1894FF;
  color: #fff;
  margin-top: 1rem;
  padding: 4rem 0;
}

.FQ__title h2 {
  text-align: center;
  font-size: 3rem;
}

.FQ__title img {
  position: absolute;
  top: -8%;
}

.FQ__title .right-shape-FQ {
  left: -10%;
}

.FQ__title .left-shape-FQ {
  right: -10%;
}

.FQ__box {
  padding: 12rem;
}

.FQ__box-main {
  margin-bottom: 4.5rem;
}

.FQ__box-main .facilities__card {
  position: relative;
}

.FQ__box-text {
  color: #2361B5;
  width: 108.8rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.096);
  padding: 2.2rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.FQ__box-text img {
  cursor: pointer;
}

.FQ__box-ans {
  width: 85%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.096);
  padding-bottom: 1.5rem;
}

.FQ__box-ans .FQ__box-text {
  border: none;
  padding-bottom: 2rem;
}

.FQ__main-heading {
  font-size: 2rem;
  font-weight: bold;
  color: #2361B5;
  border-right: 4px solid #00DE9A;
  border-radius: .1rem;
  padding-right: 1rem;
  margin-bottom: 2.5rem;
}

.FQ__sub-heading {
  margin-right: 4rem;
  font-size: 1.6rem;
}

.FQ__paragraph {
  font-size: 1.4rem;
  border-right: 4px solid #00DE9A;
  padding: 1.2rem 4rem;
  margin-right: 10rem;
  border-top-right-radius: .1rem;
  border-bottom-right-radius: .1rem;
}

.FQ__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.map-container {
  padding: 13rem 16.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.map-container .form {
  width: 50%;
}

.map-container .form__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 80%;
  height: 100%;
}

.map-container .form__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2rem;
}

.map-container .form__label {
  font-size: 1.2rem;
  font-family: inherit;
  margin-bottom: 1.2rem;
}

.map-container .form__input {
  padding: 1.5rem 1rem;
  border: none;
  border-radius: 1rem;
  border: 1px solid #D8D8D8;
}

.map-container .form__input.active-input {
  border: 2px solid #1894FF;
}

.map-container .form__btn {
  background-color: transparent;
  padding: 1.5rem 19rem;
  font-size: 1.6rem;
  color: #1894FF;
  border: 1px solid #1894FF;
  border-radius: 1rem;
}

.map-container .map {
  width: 50%;
  position: relative;
}

.map-container .map img {
  width: 100%;
}

.map-container .map .textBox {
  padding: 1rem 1.5rem;
  width: 90%;
  background-color: #fff;
  position: absolute;
  bottom: 5%;
  right: 5%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.map-container .map .textBox .title {
  color: #000;
  font-size: 1.6rem;
  margin-bottom: 1.2rem;
}

.map-container .map .textBox .content {
  font-size: 1.6rem;
}

.map-container .map .textBox .address {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/ span 2;
}

.map-container .map .textBox .address__content {
  width: 77%;
  line-height: 3rem;
}

.map-container .map .textBox .info {
  margin-bottom: 1.2rem;
}

.map-container .map .textBox .email__content,
.map-container .map .textBox .fixed-number__content {
  color: #1894FF;
}
/*# sourceMappingURL=main.css.map */