*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  direction: rtl;
  overflow-x: hidden;
}

@font-face {
  font-family: 'Yekan';
  src: url("../../assets/font/Yekan.eot");
  /* IE9 Compat Modes */
  src: url("../../assets/font/Yekan.eot?#iefix") format("embedded-opentype"), url("../../assets/font/Yekan.woff2") format("woff2"), url("../../assets/font/Yekan.woff") format("woff"), url("../../assets/font/Yekan.otf") format("opentype"), url("../../assets/font/Yekan.ttf") format("truetype"), url("../../assets/font/Yekan.svg#Yekan") format("svg");
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Yekan;
}

.logo__title {
  font-weight: 700;
  font-size: 1.8rem;
}

.logo__description {
  font-size: 1.2rem;
  font-weight: lighter;
}

.u-margin-bottom-small {
  margin-bottom: 1.6rem;
}

.u-margin-bottom-huge {
  margin-bottom: 5.2rem;
}

.deactive {
  -webkit-filter: grayscale(80%);
          filter: grayscale(80%);
}

.active {
  color: #2361B5;
  opacity: 1 !important;
}

.header__img {
  height: 10rem;
  position: relative;
}

.header__shape {
  position: absolute;
  left: -12%;
  width: 85rem;
}

.header__doc {
  width: 40rem;
  position: absolute;
  left: 9%;
  top: 111%;
}

.header__box {
  position: relative;
}

.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 20rem;
  margin-top: 10rem;
}

.header__title {
  font-size: 3.6rem;
  color: #1894FF;
}

.header__description {
  font-size: 1.8rem;
  font-weight: lighter;
}

.list {
  width: 30%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #000;
}

.list__item {
  font-size: 1.6rem;
  opacity: 70%;
  cursor: pointer;
}

.list__link {
  text-decoration: none;
  color: inherit;
}

nav {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo__img {
  width: 3.2rem;
  margin-left: 1rem;
}

.logo__info-box {
  margin-top: 1.1rem;
}

.logo__title {
  font-weight: 700;
  font-size: 1.8rem;
}

.logo__description {
  font-size: 1.2rem;
}

.main > * {
  padding: 20rem 20rem;
}

.main .about {
  padding: 40rem 20rem 0;
}

.main .download {
  padding: 0 20rem;
}

.main .subscription {
  padding-top: 8rem;
  padding-right: 20rem;
}

.main .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .about__infoBox {
  padding: 2rem 4rem;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-right: 10rem;
}

.main .about__imgBox {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.main .about__title {
  font-size: 2rem;
  font-weight: bold;
  color: #2361B5;
  border-right: 4px solid #00DE9A;
  border-radius: .1rem;
  padding-right: 1rem;
}

.main .about__description {
  width: 90%;
  font-size: 1.6rem;
  font-weight: 100;
  opacity: 70%;
  margin-bottom: 9rem;
  line-height: 3.5rem;
}

.main .about__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .about__cards .card {
  margin-bottom: 1.5rem;
  padding: 2rem 2.2rem;
  background-color: #fff;
  border-radius: 2rem;
  -webkit-box-shadow: -1px 1px 2rem 0 #aed9ff;
          box-shadow: -1px 1px 2rem 0 #aed9ff;
}

.main .about__cards .card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .about__cards .card-label {
  font-size: 1.4rem;
  font-weight: 100;
}

.main .facilities .container {
  width: 90%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr 2fr 3fr;
      grid-template-rows: 1fr 2fr 3fr;
  row-gap: 2rem;
  -webkit-column-gap: 8rem;
          column-gap: 8rem;
      grid-template-areas: "header header header header" "services  pharmacy  pharmacy pharmacy " "services process  process process";
}

.main .facilities__title {
  font-size: 2rem;
  font-weight: bold;
  color: #2361B5;
  border-right: 4px solid #00DE9A;
  border-radius: .1rem;
  padding-right: 1rem;
  height: 3.2rem;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: header;
}

.main .facilities__pharmacy {
  padding: 1rem;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: pharmacy;
}

.main .facilities__services {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: services;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (20rem)[2];
      grid-template-columns: repeat(2, 20rem);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 4rem;
}

.main .facilities__process {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: process;
}

.main .facilities__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem;
  background-color: #fff;
  border-radius: 2rem;
  -webkit-box-shadow: -1px 1px 2rem 0 #aed9ff;
          box-shadow: -1px 1px 2rem 0 #aed9ff;
}

.main .facilities__card--visit, .main .facilities__card--pharmacy {
  padding: 2.5rem 5rem;
}

.main .facilities__card--shop {
  padding: 2.3rem 5.8rem;
}

.main .facilities__card--reservation {
  padding: 3rem 4rem;
}

.main .facilities__label {
  font-size: 1.4rem;
  text-align: center;
  margin-top: 1.5rem;
  opacity: 60%;
}

.main .facilities__header {
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
}

.main .facilities__description {
  font-size: 1.6rem;
  line-height: 3.2rem;
  opacity: 70%;
}

.main .facilities__process {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .facilities__diagram {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 4rem;
          flex: 0 1 4rem;
  position: relative;
}

.main .facilities__step {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main .facilities__line {
  width: .2rem;
  height: 14rem;
  background-color: #d1d1d193;
  position: absolute;
  right: 44%;
  top: 10%;
}

.main .facilities__circle-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main .facilities__circle {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #E6F3FF;
  position: relative;
}

.main .facilities__circle--arrow {
  -webkit-transform: rotate(271deg);
          transform: rotate(271deg);
  position: absolute;
  top: 28%;
  right: 25%;
  width: 1.3rem;
}

.main .facilities__circle--check {
  position: absolute;
  top: 28%;
  right: 25%;
  width: 1.3rem;
}

.main .facilities .check {
  background-color: #00DE9A;
}

.main .facilities__step-heading {
  font-size: 1.6rem;
  margin-top: 2rem;
  margin-right: 1rem;
}

.main .facilities__step-description {
  font-size: 1.4rem;
  opacity: .7;
  margin-right: 5rem;
  margin-top: .4rem;
}

.main .download {
  position: relative;
  background-color: #0089FF;
  overflow: hidden;
}

.main .download .cloud {
  position: absolute;
}

.main .download .cloud-left {
  left: -10%;
  top: -6%;
  opacity: .5;
}

.main .download .cloud-right {
  right: -15%;
  top: -37%;
  -webkit-transform: rotate(-8deg);
          transform: rotate(-8deg);
}

.main .download__content {
  width: 100%;
  margin: 10r em auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .download__img-preview {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 40%;
}

.main .download__img-preview img {
  height: 55rem;
  margin-bottom: -1rem;
}

.main .download__download-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 60%;
  height: 30rem;
  padding-right: 3rem;
  color: #fff;
}

.main .download__header {
  font-size: 2.4rem;
  font-weight: bold;
}

.main .download__text {
  font-size: 1.6rem;
  margin-top: 2rem;
}

.main .download__inputBox {
  position: relative;
}

.main .download__social-icon {
  width: 18rem;
  margin-left: 2rem;
  opacity: .9;
  cursor: pointer;
}

.main .subscription {
  overflow: hidden;
  position: relative;
}

.main .subscription__cloud {
  position: absolute;
  right: -2%;
  z-index: -999;
}

.main .subscription__content {
  margin-top: 10rem;
  background-color: #fff;
  border-radius: 2rem;
  -webkit-box-shadow: -1px 1px 2rem 0 #aed9ff;
          box-shadow: -1px 1px 2rem 0 #aed9ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 7.2rem 8rem 0 8rem;
}

.main .subscription__textBox {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.main .subscription__title {
  font-size: 2rem;
  font-weight: bold;
  color: #2361B5;
  border-right: 4px solid #00DE9A;
  border-radius: .1rem;
  padding-right: 1rem;
  margin-bottom: 2rem;
}

.main .subscription__description {
  font-size: 1.6rem;
  line-height: 3.2rem;
  opacity: 70%;
}

.main .subscription__inputBox {
  position: relative;
}

.main .subscription__img {
  padding-right: 5rem;
}

.btn {
  font-size: 1.6rem;
  font-weight: bold;
  border-radius: 1rem;
  text-decoration: none;
  cursor: pointer;
}

.btn--download {
  background-color: #E6F3FF;
  color: #1894FF;
  margin-top: 1rem;
  padding: 1.4rem 3.2rem;
}

.btn--white {
  color: #1894FF;
  border: 1px solid #1894FF;
  padding: 1.5rem 2rem;
  margin-right: 1.5rem;
}

.btn--blue {
  background-color: #1894FF;
  color: #fff;
  padding: 1.4rem 3.9rem 1.7rem 3.7rem;
}

.input-btn {
  color: #fff;
  text-decoration: none;
  font-size: 1.6rem;
  padding: .8rem 2.2rem;
  background-color: #1894FF;
  border-radius: 1rem;
  position: absolute;
  top: 10%;
  right: 55%;
}

.input-btn--sign-in {
  right: 63%;
}

.input-field {
  width: 70%;
  font-family: inherit;
  padding: 2.2rem 2rem 1.5rem 0;
  border-radius: 1rem;
  border: none;
  margin-bottom: 2rem;
}

.input-field:focus {
  outline: none;
}

.input-field--greyBackground {
  background-color: #F9F9F9;
  width: 90%;
}

::-webkit-input-placeholder {
  opacity: .8;
}

:-ms-input-placeholder {
  opacity: .8;
}

::-ms-input-placeholder {
  opacity: .8;
}

::placeholder {
  opacity: .8;
}
/*# sourceMappingURL=main.css.map */