.footer {

    &__support {
        background-color: $color-blue-light;
        padding: 3rem 4rem;

        @include respond(phone) {
            padding: 1.5rem 3rem;
        }

        .container {
            width: 85%;
            margin: 0 auto;

            display: flex;
            justify-content: space-between;
            align-items: center;

            @include respond(phone) {
                height: 19rem;
                flex-direction: column;
            }
        }
    }

    &__response-and-support {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color-white;

        @include respond(phone) {
            flex-direction: column;
        }
    }

    &__support-heading {
        font-size: 2rem;
        margin-left: 2.5rem;

        @include respond(phone) {
            margin: 0 0 2rem 0;
        }
    }

    &__response {
        font-size: 1.4rem;
        opacity: .9;

        @include respond(phone) {
            font-size: 1.5rem;
        }

    }

    &__links {
        background-color: $color-white;
        padding: 8.6rem 12.6rem;

        @include respond(phone) {
            padding: 3.5rem;
            height: 44.25rem;
        }

        .container {
            height: 20rem;
            width: 100%;
            display: flex;
            justify-content: space-between;

            @include respond(phone) {
                height: 30rem;
            }
        }


    }

    &__main {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        @include respond(phone) {
            height: 40rem;
        }
    }

    &__textBox {

        @include respond(phone) {
            margin-top: -2rem;
        }

        h2 {
            margin-bottom: 1rem;

            @include respond(phone) {
                font-size: 2rem;
            }
        }

        p {
            width: 78%;
            font-size: 1.4rem;

            @include respond(phone) {
                font-size: 1.75rem;
                width: 100%;
            }
        }

        margin: 2.5rem 0;
    }

    &__social {
        width: 40%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include respond(phone) {
            align-self: center;
        }
    }

    &__heading {
        font-size: $default-font-size;
        margin-bottom: 1.4rem;
    }

    &__list {
        list-style: none;
    }

    &__link {
        text-decoration: none;
        color: $color-black;
        font-size: 1.4rem;
    }

    &__list {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    a.active-item {
        @include section-title;
        font-size: 1.4rem;
    }

    &__apps {
        margin-top: 2.5rem;

        img:first-child {
            margin-left: 1.8rem;
        }
    }

    &__services,
    &__pages,
    &__downloads {
        @include respond(phone) {
            display: none;
        }
    }

    .logo__title {
        font-size: 2.25rem;
    }
}