.header {

    padding: 4.4rem 13rem 4.4rem 4.4rem;

    &__img {
        height: 10rem;
        position: relative;
    }

    &__shape {
        position: absolute;
        left: -12%;
        width: 85rem;

        @include respond(generic-desktop) {
            display: none;
        }

        @include respond(tab-land) {
            display: none;
        }

        @include respond(phone) {
            display: none;
        }



    }

    &__doc {
        width: 40rem;
        position: absolute;
        left: 9%;
        top: 111%;

        @include respond(generic-desktop) {
            left: 4%;
            top: 111%;
        }

        @include respond(tab-land) {
            transform: translateX(-5rem);
        }

        @include respond(tab-port) {
            position: static;
            ;
        }

        @include respond(phone) {
            position: static;
        }

        @include respond(small-phone) {
            width: 85vw;
            transform: translateX(1rem);
        }
    }

    &__box {
        position: relative;

        @include respond(tab-port) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 65vh;
        }

        @include respond(phone) {
            height: 85vh;
            position: static;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        margin-top: 10rem;



        @include respond(tab-land) {
            margin-right: 5rem;
        }

        @include respond(tab-port) {
            margin-right: 0;
        }

        @include respond(phone) {
            margin: 0;
        }

    }

    &__title {
        font-size: 3.6rem;
        color: $color-blue-light;

        @include respond(phone) {
            text-align: center;
        }


    }

    &__description {
        font-size: 1.8rem;
        font-weight: lighter;

        @include respond(phone) {
            text-align: center;
        }

        @include respond(phone) {
            display: none;
        }

        &--phone {
            display: none;

            @include respond(phone) {
                display: block;
            }
        }

    }

    &__buttons {
        @include respond(phone) {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: space-around;
            height: 20vh;
            width: 80%;
            margin-right: 2rem;
        }

        a {
            text-align: center;

            &:first-child {
                @include respond(phone) {
                    display: none;
                }
            }
        }

    }

    &-direct-download-btn {
        display: none;

        @include respond(phone) {
            display: block;
        }
    }
}