.header {

    &__img {
        height: 10rem;
        position: relative;
        z-index: -999;

        @include respond-phone {
            z-index: 999;
        }
    }

    &__shape {
        position: absolute;
        left: -12%;
        width: 85rem;
        z-index: -999;

        @include respond-phone {
            display: none;
        }

    }

    &__doc {
        width: 40rem;
        position: absolute;
        left: 9%;
        top: 111%;

        @include respond-phone {
            width: 25rem;
            left: -30%;
            top: 80%;
        }
    }

    &__box {
        position: relative;

        @include respond-phone {
            width: 100%;

            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        margin-right: 20rem;
        margin-top: 10rem;
        z-index: 999;

        @include respond-phone {
            z-index: 0;
            margin-top: 30rem;
            width: 19.2rem;
        }

    }

    &__title {
        font-size: 3.6rem;
        color: $color-blue-light;

        @include respond-phone {
            font-size: 2.4rem;
        }


    }

    &__description {
        font-size: 1.8rem;
        font-weight: lighter;

        @include respond-phone {
            font-size: 1.4rem;
        }

    }

    &__buttons {
        display: flex;
        flex-direction: column;
    }
}

.list {
    width: 30%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    color: $color-black;

    &__item {
        font-size: $default-font-size;
        opacity: 70%;
        cursor: pointer;
    }

    &__link {
        text-decoration: none;
        color: inherit;
    }
}