.header {

    &__img {
        height: 10rem;
        position: relative;
    }

    &__shape {
        position: absolute;
        left: -12%;
        width: 85rem;

    }

    &__doc {
        width: 40rem;
        position: absolute;
        left: 9%;
        top: 111%;
    }

    &__box {
        position: relative;
    }

    &__info {
        display: flex;
        flex-direction: column;
        margin-right: 20rem;
        margin-top: 10rem;

    }

    &__title {
        font-size: 3.6rem;
        color: $color-blue-light;


    }

    &__description {
        font-size: 1.8rem;
        font-weight: lighter;

    }
}

.list {
    width: 30%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    color: $color-black;

    &__item {
        font-size: $default-font-size;
        opacity: 70%;
        cursor: pointer;
    }

    &__link {
        text-decoration: none;
        color: inherit;
    }
}