.main {
    &>* {
        padding: 20rem 20rem;
    }


    .about {
        padding: 40rem 12rem 0;

        @include respond(generic-desktop) {
            padding: 25rem 10rem 0;
        }

        @include respond(tab-land) {
            padding: 20rem 8rem 5rem 5rem;
        }

        @include respond(tab-port) {
            padding: 10rem 5rem;
        }

        @include respond(phone) {
            padding: 5rem 8rem 5rem 5rem;
        }


        @include respond(small-phone) {
            padding: 2rem;
        }

    }

    .facilities {
        @include respond(generic-desktop) {
            padding: 15rem 10rem 25rem;
        }

        @include respond(tab-land) {
            padding: 5rem 8rem 10rem 5rem;
        }

        @include respond(phone) {
            padding: 0 5rem 10rem;
        }

        @include respond(small-phone) {
            padding: 0 2rem 4rem;
        }
    }

    .download {
        padding: 0 10rem;

        @include respond(tab-land) {
            padding: 0 8rem;
        }

        @include respond(tab-port) {
            padding: 3rem;
        }

        @include respond(phone) {
            padding: 2rem 5rem;
        }

        @include respond(small-phone) {
            padding: 2rem 5rem;
        }
    }

    .subscription {

        // padding: 18rem;
        @include respond(generic-desktop) {
            padding: 15rem 5rem 15rem 10rem;
        }

        @include respond(tab-land) {
            padding: 8rem 1.4rem 15rem 1rem;
        }

        @include respond(tab-port) {
            padding-bottom: 8rem;
        }

        @include respond(phone) {
            padding: 5rem 1rem;
        }

        @include respond(small-phone) {
            padding: 2rem;
        }


    }
}

// About
.about {

    @include respond(tab-port) {
        flex-direction: column;
    }

    @include respond(phone) {
        flex-direction: column;
    }

    &__container {
        display: flex;
        width: 90%;
        justify-content: space-around;

        @include respond(generic-desktop) {
            width: 100%;
        }
    }

    &__infoBox {
        order: 1;
        width: 53.65rem;
        align-self: center;


        @include respond(tab-land) {
            margin-right: 7rem;
        }

        @include respond(tab-port) {
            margin-right: 0;
        }

        @include respond(phone) {
            margin: 0;
            padding: 0;
        }


    }

    &__imgBox {
        order: 0;
        // margin-bottom: 4rem;

        @include respond(tab-port) {
            margin: 0 auto 2rem;
        }

        @include respond(phone) {
            text-align: center;
        }

        img {
            width: 35rem;

            @include respond(tab-land) {
                width: 38.5rem;
            }

            @include respond(phone) {
                width: 30rem;
            }

            @include respond(small-phone) {
                width: 90vw;

            }


        }
    }

    &__title {
        @include section-title;

        @include respond(tab-land) {
            font-size: 2.5rem;
            padding-right: 1.8rem;
        }

        @include respond(phone) {
            display: none;
            padding-right: 1.8rem;
            font-size: 2rem
        }


        &--phone {
            display: none;

            @include respond(phone) {
                display: block;
            }
        }
    }

    &__description {
        width: 100%;
        font-size: $default-font-size;
        font-weight: 100;
        opacity: 70%;
        // margin-bottom: 9rem;
        line-height: 3.5rem;

        @include respond(tab-land) {
            font-size: 1.8rem;
            margin-bottom: 9rem;
        }

        @include respond(phone) {
            display: none;
        }

        &--phone {
            display: none;

            @include respond(phone) {
                display: block;
                width: 100%;
            }
        }
    }

    &__cards {
        width: 53.65rem;
        display: flex;
        justify-content: space-between;


        @include respond(phone) {
            display: none;
        }

        .card {
            position: relative;

            width: 8rem;
            height: 8rem;
            margin-bottom: 1.5rem;

            @include cardsBoxShadow;

            img {

                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                @include respond(tab-land) {
                    width: 3rem;
                }
            }

            &-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            &-label {
                font-size: 1.4rem;
                font-weight: 100;

                @include respond(tab-land) {
                    font-size: 1.6rem;
                }
            }
        }
    }
}

// Facilities
.facilities {
    .container {
        width: 90%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 2fr 3fr;
        row-gap: 2rem;
        column-gap: 8rem;
        grid-template-areas:
            "header header header header"
            "services  pharmacy  pharmacy pharmacy "
            "services process  process process";

        @include respond(tab-land) {
            // row-gap: 1rem;
            grid-template-rows: 1fr;
            width: 100%;
        }

        @include respond(tab-port) {
            display: flex;
            flex-direction: column;
        }


        @include respond(phone) {
            display: flex;
            flex-direction: column;
            width: 90%;
        }
    }

    &__title {
        @include section-title;
        height: 3.2rem;
        grid-area: header;

        @include respond(tab-land) {
            font-size: 2.5rem;

        }

        @include respond(phone) {
            display: none;
            font-size: 2rem;
        }



        &--phone {
            display: none;

            @include respond(phone) {
                display: block;
                padding-right: 2rem;
            }
        }
    }

    &__pharmacy {
        padding: 1rem;
        grid-area: pharmacy;

        @include respond(phone) {
            width: 120%;
            order: 1;
        }
    }

    &__services {
        grid-area: services;
        display: grid;
        grid-template-columns: repeat(2, 20rem);
        justify-items: center;
        align-items: center;
        row-gap: 4rem;

        @include respond(tab-land) {
            row-gap: 0
        }

        @include respond(tab-port) {
            margin: 0 auto;
            gap: 4rem;
        }

        @include respond(phone) {
            display: flex;
            justify-content: space-between;
            width: 75rem;
            margin: 0;
        }

    }

    &__process {
        grid-area: process;

        @include respond(phone) {
            order: 2;
        }
    }

    &__card {
        width: 16rem;
        height: 16rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem;
        @include cardsBoxShadow;

        &:not(:first-child) {
            @include light-shadowbox
        }


        &--visit,
        &--pharmacy {
            @include respond(phone) {
                padding: 1.5rem 4rem;
            }
        }

        &--shop {
            @include respond(phone) {
                padding: 1.3rem 4.8rem;
            }
        }


        &--reservation {
            @include respond(phone) {
                padding: 2rem 3rem;
            }
        }


    }

    &__label {
        font-size: 1.4rem;
        text-align: center;
        margin-top: 1.5rem;
        opacity: 60%;
    }


    &__header {
        font-size: $default-font-size;
        margin-bottom: 1.5rem;

        @include respond(tab-land) {
            font-size: 2rem;
        }
    }

    &__description {
        @include section-description;

        @include respond(tab-land) {
            font-size: 1.8rem;
        }

        @include respond(phone) {
            font-size: 1.9rem;
        }
    }

    &__process {
        display: flex;
        width: 50.8rem;
        height: 21.8rem;
    }

    &__diagram {

        position: relative;

        @include respond(tab-land) {
            margin-left: 1.5rem;
        }

    }

    &__step {

        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-self: flex-end;


        @include respond(generic-desktop) {
            transform: translateY(1rem);
        }

        @include respond(tab-land) {
            margin-top: 3rem;
        }

        @include respond(small-phone) {
            transform: translateY(1rem);
        }

        &--3 {

            .facilities__step-description--container {
                justify-content: flex-end;
            }

            transform: translateY(1.2rem);


        }


    }

    &__circle-container::before {
        content: "";
        // width: 21rem;
        background-color: $color-black-transparent;
        width: 2px;
        height: 100%;

        position: absolute;
        // transform: rotate(-90deg);

    }



    &__circle-container {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    &__circle {
        z-index: 10;
        width: 3.4rem;
        height: 3.4rem;
        border-radius: 50%;
        background-color: $color-grey;
        display: flex;
        justify-content: center;
        align-items: center;


        @include respond(tab-land) {
            width: 4.5rem;
            height: 4.5rem;
        }

        @include respond(phone) {
            width: 4.1rem;
            height: 4.1rem;
        }

        &--arrow {
            @include circle-icons;
            transform: rotate(-90deg)
        }

        &--check {
            @include circle-icons;

            @include respond(tab-land) {
                width: 2rem;
            }
        }
    }


    &__step-heading {
        font-size: $default-font-size;
        margin-right: 1rem;



        @include respond(tab-land) {
            font-size: 1.9rem;
        }

        @include respond(phone) {
            margin: 4rem 1rem 0 0;
        }

        @include respond(big-phone) {
            margin: 2rem;
        }

    }

    &__step-description {

        &--container {
            width: 45rem;
            height: 3rem;
            display: flex;
            justify-content: space-around;
            align-items: flex-end;
        }

        font-size: 1.4rem;
        opacity: .7;
        display: flex;

        @include respond(tab-land) {
            font-size: 1.8rem;
        }


        @include respond(phone) {
            margin-right: 1.5rem;
        }


    }

    &__icon {

        &--pharmacy {
            @include respond(phone) {
                width: 6.25rem;
            }
        }

        &--shop {

            @include respond(tab-land) {
                width: 5.5rem;
            }

            @include respond(phone) {
                width: 4.5rem;
            }
        }
    }

    .check {
        background-color: $color-green;
    }

}

// Download
.download {
    position: relative;
    background-color: $color-download-bg;
    overflow: hidden;

    @include respond(phone) {
        height: 111.625rem;

        &>img {
            display: none;
        }
    }


    @include respond(small-phone) {
        height: auto
    }


    .cloud {
        position: absolute;

        @include respond(tab-land) {
            display: none;
        }
    }

    .cloud-left {
        left: -4%;
        top: -12%;
        opacity: .5;
    }

    .cloud-right {
        right: -15%;
        top: -37%;
        transform: rotate(-8deg);
        // opacity: .5;

    }

    &__content {
        width: 100%;

        margin: 10r em auto 0;

        display: flex;
        align-items: center;

        @include respond(tab-port) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }

        @include respond(phone) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 111.625rem;
        }


        @include respond(small-phone) {
            height: auto;
        }
    }

    &__img-preview {
        order: 1;
        width: 57.3rem;
        height: 57.2rem;
        display: flex;
        align-items: flex-end;


        @include respond(tab-port) {
            transform: translateY(2.5rem);
        }

        img {
            margin-bottom: -1rem;
            height: 55rem;

            @include respond(tab-land) {
                height: 45rem;
            }

            @include respond(phone) {
                height: 58.15375rem;
                // display: block;
                // margin: 0 auto;
            }

            @include respond(small-phone) {
                display: none;
            }

            @include respond(big-phone) {
                margin: 0 10rem;
            }
        }

    }

    &__download-link {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 60%;
        height: 30rem;
        // padding-right: 1.5rem;
        color: $color-white;

        @include respond(tab-land) {
            padding-right: 0;

            &>* {
                margin-bottom: 3rem;
            }
        }

        @include respond(tab-port) {
            width: 90vw;
            ;
        }

        @include respond(phone) {
            width: 100%;
            height: 80rem;
        }

        @include respond(phone) {
            padding: 0 5rem;
        }

        @include respond(small-phone) {
            width: 100vw;
        }

    }

    &__header {
        font-size: 2.4rem;
        font-weight: bold;

        @include respond(phone) {
            font-size: 2rem;
        }

    }

    &__text {
        font-size: $default-font-size;
        margin-top: 2rem;

        @include respond(phone) {
            display: none;
        }

        &--phone {
            display: none;

            @include respond(phone) {
                display: block;
            }

        }
    }



    &__inputBox {
        position: relative;
        width: 50rem;

        .input-field {
            width: 100%;
        }

        a {
            right: 80%;
            top: 12%;
        }

        @include respond(phone) {
            a {
                width: 35%;
                text-align: center;
                display: block;
                position: static;
                margin: 0 auto 3rem;
            }
        }

        @include respond(small-phone) {
            a {
                width: 35%;
                text-align: center;
                display: block;
                position: static;
                margin: 0 auto 3rem;
            }
        }

        @include respond(big-phone) {
            a {
                width: 20%;
                position: absolute;
                right: 75%;
                display: inline;

            }
        }

    }


    &__social {
        display: flex;
        justify-content: space-between;
        width: 60rem;

        @include respond(tab-port) {
            margin: 0;
        }

        &-icon {
            width: 18rem;
            opacity: .9;
            cursor: pointer;

            @include respond(tab-land) {
                margin-left: 2rem;
            }

            @include respond(small-phone) {
                display: block;
                margin: 3rem auto 0;
            }
        }

        &--android {
            @include respond(phone) {
                display: none;
            }

            @include respond(small-phone) {
                display: block;
            }
        }

        &--sibapp {
            @include respond(phone) {
                margin: 0 0 3rem;
            }

            @include respond(small-phone) {
                display: block;
                margin: 0 auto;
            }
        }

        @include respond(tab-land) {
            display: flex;
        }

        @include respond(phone) {
            // margin: 0 7rem;
            display: block;
        }

        @include respond(small-phone) {
            margin: 0;
        }

        @include respond(big-phone) {
            margin-right: 10rem;
        }
    }

    .input-field {
        @include respond(phone) {
            width: 100%;
        }



    }
}

// Subscription
.subscription {
    overflow: hidden;
    position: relative;
    width: 90vw;
    width: 100vw;

    &__cloud {
        position: absolute;
        right: -2%;
        z-index: -999;

        @include respond(tab-land) {
            display: none;
        }

        @include respond(phone) {
            display: none;
        }
    }

    &__content {
        margin-top: 10vh;
        @include cardsBoxShadow;
        display: flex;
        justify-content: space-evenly;
        // padding: 7rem;
        padding: 0 4.5rem;
        width: 75vw;
        height: 43.038rem;

        @include respond(generic-desktop) {
            width: 90vw;
        }

        @include respond(tab-land) {
            width: 100%;
            margin: 0;
            padding: 0 2.5rem;
            display: flex;
            // flex-direction: column   ;
        }

        @include respond(tab-port) {
            padding: 3rem;
            margin: 0 auto;
        }

        @include respond(phone) {
            flex-direction: column;
            height: 66.45rem;
            padding-right: 4rem;
            padding-left: 2rem;
            padding: 4.5rem 1rem 0 2.5rem;
            // margin-top: 10rem;
            // margin-right: -.5rem;
            width: 100%;
            margin-left: -10rem;
        }

        @include respond(small-phone) {
            margin-top: 2rem;
            width: 90vw;
            height: auto;
            padding: 0;
            margin-right: -.5rem;
        }

        @include respond(big-phone) {
            margin: 0 .9rem 0 0;
        }

    }

    &__textBox {
        width: 55%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include respond(tab-land) {
            padding: 0;
            width: 70%;
        }

        @include respond(tab-port) {
            width: 100%;
            margin: 0;
        }


        @include respond(phone) {
            flex-direction: column;
            order: 1;
            width: 100%;
            margin-top: 3rem;
        }

        @include respond(small-phone) {
            padding: 1.5rem;
            margin: 0;
        }

    }

    &__title {
        @include section-title;
        margin-bottom: 2rem;

        @include respond(tab-land) {
            font-size: 2.5rem;
            margin-bottom: 3rem;
        }

        @include respond(phone) {
            display: none;
            font-size: 2rem;
            margin-bottom: 3rem;
        }



        &--phone {
            display: none;

            @include respond(phone) {
                display: block;
                width: 100%;
            }
        }
    }

    &__description {
        @include section-description;
        margin-bottom: 3.6rem;

        @include respond(tab-land) {
            font-size: 1.9rem;
            margin-bottom: 3rem;
        }

        @include respond(phone) {
            width: 100%;
            margin-bottom: 4rem;
            font-size: 1.5rem;
        }

    }

    &__inputBox {
        position: relative;
        width: 50rem;

        .input-field {
            width: 100%;
        }

        a {
            top: 11%;
            right: 72%;
        }

        // @include respond(tab-land) {
        //     a {
        //         top: 12%;
        //         right: 69%;
        //     }
        // }


        // @include respond(phone) {
        //     width: 100%;

        //     .input-field {
        //         margin: 0;
        //         width: 100%;
        //     }

        //     a {
        //         padding-left: 1rem;
        //         right: 61%;
        //         top: 17%;

        //     }
        // }

        // @include respond(small-phone) {
        //     a {
        //         position: static;
        //         display: block;
        //         text-align: center;
        //         width: 50%;
        //         margin: 2rem auto 0;
        //     }
        // }

        // @include respond(big-phone) {
        //     a {
        //         right: 75%;
        //         top: 17%;
        //     }
        // }
    }

    &__imgbox {
        // height: 4rem;
        display: flex;
        align-items: flex-end;

        img {
            width: 100%;
        }
    }

    // &__img {
    //     padding-right: 5rem;
    //     transform: translateY(7rem);

    //     @include respond(tab-land) {
    //         // transform: translate(-14rem, 3rem);
    //         // position: absolute;
    //         align-self: stretch;
    //     }

    //     @include respond(tab-port) {
    //         transform: translateY(3rem);
    //     }




    //     @include respond(tab-land) {
    //         padding: 0;
    //         width: 45rem;
    //         display: block;
    //     }

    //     @include respond(phone) {
    //         padding: 0;
    //         width: 32.7825rem;
    //         display: block;
    //         margin-bottom: 2rem;
    //     }

    //     @include respond(small-phone) {
    //         display: none;
    //     }


    // }


    @include respond(phone) {
        width: 95vw;
    }
}

::placeholder {
    opacity: .8;
    font-size: 1.4rem;
    font-family: inherit;

    @include respond(tab-land) {
        font-size: 1.2rem;
        opacity: .9;
    }

    @include respond(tab-port) {
        font-size: 2rem;
        opacity: .9;
    }

    @include respond(phone) {
        font-size: 1.2rem;
    }
}