nav {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 4rem 0;


    .hamburger-menu {
        width: 2.5rem;
        display: none;

        @include respond-phone {
            display: block;
        }


    }

    @include respond-phone {
        width: 150%;
    }

    .list {
        @include respond-phone {
            display: none;
        }
    }

    .btn {
        @include respond-phone {
            display: none;
        }
    }

}

.logo {
    display: flex;

    @include respond-phone {
        padding-right: 13rem;
    }


    &__img {
        width: 3.2rem;
        margin-left: 1rem;
    }

    &__info-box {
        margin-top: 1.1rem;
    }

    &__title {
        font-weight: 700;
        font-size: 1.8rem;


    }

    &__description {
        font-size: 1.2rem;
    }
}