nav {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 4rem 0;

    @include phone {
        width: 100%;
        padding: 4rem 2rem;
        justify-content: space-between;
        margin-bottom: 2rem;

        .list,
        .list+a {
            display: none;
        }

        .hamburger {
            display: block;
        }
    }
}

.logo {
    display: flex;




    &__img {
        width: 3.2rem;
        margin-left: 1rem;
    }

    &__info-box {
        margin-top: 1.1rem;
    }

    &__title {
        font-weight: 700;
        font-size: 1.8rem;
    }

    &__description {
        font-size: 1.2rem;
    }
}



.list {
    width: 30%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    color: $color-black;

    &__item {
        font-size: $default-font-size;
        opacity: 70%;
        cursor: pointer;
    }

    &__link {
        text-decoration: none;
        color: inherit;
    }
}



.hamburger {
    display: none;

    div {
        width: 2.5rem;
        height: 2px;
        background-color: $color-blue-light;
        margin-bottom: 5px;
    }

    .line {
        &-1 {}

        &-2 {}

        &-3 {}
    }
}