@mixin section-title {
    font-size: 2rem;
    font-weight: bold;
    color: $color-blue-dark;
    border-right: 4px solid $color-green;
    border-radius: .1rem;
    padding-right: 1rem;
}

@mixin section-description {
    font-size: $default-font-size;
    line-height: 3.2rem;
    opacity: 70%;
}

@mixin cardsBoxShadow {
    background-color: $color-white;
    border-radius: 2rem;
    box-shadow: -1px 1px 2rem 0 #aed9ff;
}

@mixin circle-icons {
    position: absolute;
    top: 28%;
    right: 25%;
    width: 1.3rem;

    @include respond(phone) {
        width: 1.8rem;
    }
}

@mixin sign-up-btn-subscribe {
    top: 7%;
    right: 80%;
}

// MEDIA QUERY MANAGER
/*
$breakpoint argument choices:
- phone: 0 - 600px
- tab-port: 600 - 900px 
- tab-land: 900 - 1200px
- normal desktop: 1200 - 1800px
- big-desktop: 1800px +
*/

@mixin respond($breakpoint) {

    @if $breakpoint==phone {

        //600px / 16
        @media (max-width: 37.5em) {

            @content
        }

        ;
    }

    @if $breakpoint==tab-port {
        @media (max-width: 56.25em) {
            @content
        }

        ;
    }

    @if $breakpoint==tab-land {
        @media (max-width: 75em) {
            @content
        }

        ;
    }

    @if $breakpoint==big-desktop {
        @media (min-width: 112.5em) {
            @content
        }
    }
}