@mixin section-title {
    font-size: 2rem;
    font-weight: bold;
    color: $color-blue-dark;
    border-right: 4px solid $color-green;
    border-radius: .1rem;
    padding-right: 1rem;
}

@mixin section-description {
    font-size: $default-font-size;
    line-height: 3.2rem;
    opacity: 70%;
}

@mixin cardsBoxShadow {
    background-color: $color-white;
    border-radius: 2rem;
    box-shadow: -1px 1px 2rem 0 #aed9ff;
}

@mixin circle-icons {
    position: absolute;
    top: 28%;
    right: 25%;
    width: 1.3rem;

    @include phone {
        width: 1.8rem;
    }
}

@mixin sign-up-btn-subscribe {
    top: 7%;
    right: 80%;
}

// Media Query
@mixin phone {
    @media (max-width: 376px) {
        @content;
    }
}