@mixin section-title {
    font-size: 2rem;
    font-weight: bold;
    color: $color-blue-dark;
    border-right: 4px solid $color-green;
    border-radius: .1rem;
    padding-right: 1rem;
}

@mixin cardsBoxShadow {
    background-color: $color-white;
    border-radius: 2rem;
    box-shadow: -2px -2px 2.2rem 1.1rem #e4edf5;
}

@mixin circle-icons {
    position: absolute;
    top: 28%;
    right: 25%;
    width: 1.3rem;
}