// Colors
$color-blue-light: #1894FF;
$color-blue-dark: #2361B5;

$color-green: #00DE9A;

$color-grey: #E6F3FF;

$color-black: #000;
$color-black-transparent: rgba(0, 0, 0, 0.096);

$color-white: #fff;

$color-download-bg: #0089FF;

// Fonts
$default-font-size: 1.6rem;


// other
$top: 2%;