.btn {
    font-size: $default-font-size;
    font-weight: bold;

    border-radius: 1rem;
    text-decoration: none;
    cursor: pointer;

    &--download {
        background-color: $color-grey;
        color: $color-blue-light;
        margin-top: 1rem;
        padding: 1.4rem 3.2rem;
    }

    &--white {
        color: $color-blue-light;
        border: 1px solid $color-blue-light;
        padding: 1.5rem 2rem;
        margin-right: 1.5rem;
    }

    &--blue {
        background-color: $color-blue-light;
        color: $color-white;
        padding: 1.4rem 3.9rem 1.7rem 3.7rem;
    }

    &--services {
        padding: 1rem 4.8rem;
    }

    &--coming-soon {
        background-color: #E7E7E7;
        color: #888888;
        padding: .7rem 1rem;
        font-size: 1.2rem;

        position: absolute;
        top: -9%;
    }
}

.input-btn {
    color: $color-white;
    text-decoration: none;
    font-size: $default-font-size;
    padding: .8rem 2.2rem;
    background-color: $color-blue-light;
    border-radius: 1rem;
    position: absolute;
    top: 10%;
    right: 55%;

    &--sign-up {
        right: 63%;
    }

    &--sub {
        right: 53%;
    }

    &--pharmacy-big {
        font-size: 1.2rem;
        padding: .5rem 1rem;
        @include sign-up-btn-subscribe;
    }

    &--pharmacy-small {
        font-size: .8rem;
        padding: .5rem .8rem;
        @include sign-up-btn-subscribe;
    }
}