*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


html {
    overflow-x: hidden;
    font-size: 62.5%; // 1rem = 10px

    @include respond(generic-desktop) {
        font-size: 60%; // 1rem = 9.6px
    }

    @include respond(tab-land) {
        font-size: 56.25%; // 1rem = 9px   9/16
    }

    @include respond(tab-port) {
        font-size: 50%; // 1rem = 8px   8/16
    }

    @include respond(phone) {
        font-size: 50%; // 1rem = 8px
    }

    @include respond(big-desktop) {
        font-size: 75%; // 1rem = 12px 12/16
    }
}

body {
    box-sizing: border-box;
    direction: rtl;
    overflow-x: hidden;
}