.u-margin-bottom-small {
    margin-bottom: $default-font-size;
}

.u-margin-bottom-huge {
    margin-bottom: 5.2rem;
}

.u-margin-left-medium {
    margin-left: 1.2rem;
}



.deactive {
    filter: grayscale(80%);
}

.active {
    color: $color-blue-dark;
    opacity: 1 !important;

}