.FQ {
    padding-top: 2rem;

    &__title {
        position: relative;
        background-color: $color-blue-light;
        color: $color-white;
        margin-top: 1rem;
        padding: 4rem 0;

        h2 {
            text-align: center;
            font-size: 3rem;

            @include phone {
                font-size: 2.5rem;
            }
        }

        img {
            position: absolute;
            top: -8%;

            @include phone {
                display: none;
            }
        }

        .right-shape-FQ {
            left: -10%;
        }

        .left-shape-FQ {
            right: -10%;
        }
    }

    &__box {
        padding: 12rem;

        @include phone {
            padding: 4rem;
            display: flex;
            flex-direction: column;
        }

        &-main {
            margin-bottom: 4.5rem;

            .facilities__card {
                position: relative;
            }
        }

        &-text {
            color: $color-blue-dark;
            width: 108.8rem;
            border-bottom: 1px solid $color-black-transparent;
            padding: 2.2rem 2rem;
            display: flex;

            img {
                cursor: pointer;

                @include phone {
                    width: 1.5rem;
                }
            }

            @include phone {
                &:nth-child(2) {
                    display: none;
                }

                width: 105%;
                padding-bottom: 1.5rem;
            }
        }

        &-ans {
            width: 85%;
            border-bottom: 1px solid $color-black-transparent;
            padding-bottom: 1.5rem;

            .FQ__box-text {
                border: none;
                padding-bottom: 2rem;
            }

            @include phone {
                order: 1;
                width: 100%;
            }
        }
    }

    &__main-heading {
        @include section-title;
        margin-bottom: 2.5rem;

        @include phone {
            margin-bottom: 4.5rem;
        }
    }

    &__sub-heading {
        margin-right: 4rem;
        font-size: $default-font-size;

        @include phone {
            margin-right: 3rem;
        }
    }

    &__paragraph {
        font-size: 1.4rem;
        border-right: 4px solid $color-green;
        padding: 1.2rem 4rem;
        margin-right: 10rem;
        border-top-right-radius: .1rem;
        border-bottom-right-radius: .1rem;

        @include phone {
            padding: 1rem 4rem;
            width: 100%;
        }
    }

    &__gallery {
        display: flex;
        justify-content: space-around;

        @include phone {
            width: 100%;
            margin-right: 17rem;

            .facilities__card {
                margin-left: 2rem;
                padding-top: 2rem;
                padding-bottom: 1rem;
                ;

                &--pharmacy {
                    justify-content: space-evenly;
                }

            }
        }
    }
}