.pharmacies {
    width: 80%;
    padding: 6rem 12rem 20rem 4rem;
    display: flex;
    justify-content: space-around;


    @include respond(tab-land) {
        flex-direction: column;
        width: 100%;
        padding: 5rem;
    }

    @include respond(tab-port) {
        flex-direction: column;
        width: 100%;
        padding: 5rem;
    }

    @include respond(phone) {
        flex-direction: column;
        width: 100%;
    }

    &__quick-sign-up {
        padding-top: 3.5rem;
        width: 60%;

        @include respond(tab-land) {
            width: 100%;
            padding: 0;
        }

        @include respond(tab-port) {
            width: 100%;
            padding: 0;
        }

        @include respond(phone) {
            order: 1;
            width: 100%;
        }
    }

    &__name {
        padding-top: 3rem;
        user-select: none;
    }

    &__title {
        width: 65%;
        line-height: 5rem;
        font-size: 3.5rem;
        color: $color-blue-light;
        margin-bottom: 2rem;

        @include respond(phone) {
            width: 90%;
            font-size: 3rem;
            margin-left: 0;
        }
    }

    &__description {
        font-size: $default-font-size;
        width: 71%;
        line-height: 3.5rem;
        margin-bottom: 7.5rem;

        @include respond(phone) {
            width: 100%;
            font-size: 1.75rem;
            line-height: 4.5rem;
            margin-bottom: 5.6rem;
        }
    }

    &__inputBox {
        position: relative;

        .input-field {

            @include respond(phone) {
                display: none;
            }

            &--phone {
                display: none;

                @include respond(phone) {
                    width: 100%;
                    display: block;
                }
            }

        }

        a {
            @include respond(tab-land) {
                top: 10%;
                right: 59%;
            }

            @include respond(phone) {
                top: 20%;
                right: 63%;

            }
        }

    }

    &__infoBox {
        display: flex;

        @include cardsBoxShadow;
        ;
        border-radius: 1.4rem;

        @include respond(phone) {
            border-radius: 2rem;
        }

        margin-bottom: 5.5rem;

        &--1 {
            position: relative;
            padding: 1.5rem 1.2rem 1rem 1rem;
            width: 90%;

            @include respond(phone) {
                width: 100%;
                margin-left: 0;
            }

            a {

                @include respond(tab-land) {
                    right: 89%;
                }

                @include respond(phone) {
                    right: 79%;
                }
            }
        }

        &--2,
        &--3 {
            padding: 1rem;
            width: 62%;
            font-size: .8rem;
        }

        &--2 {
            opacity: .6;
            margin-right: 6rem;
        }

        &--3 {
            opacity: .4;
            margin-right: 20rem;
            position: relative;
        }

        .person {
            &-1 {
                width: 7.5rem;

                @include respond(phone) {
                    width: 6.25rem;
                }
            }

            &-2 {
                width: 5.2rem;
            }


        }


        &:nth-child(2),
        &:nth-child(3) {
            @include respond(phone) {
                display: none;
            }
        }

    }

    &__info {
        margin-right: 1.5rem;
    }

    &__locationBox {
        margin-top: 1rem;
        display: flex;

        @include respond(phone) {
            margin-top: 2.5rem;
        }
    }

    &__main-heading {
        font-size: 2rem;

        @include respond(phone) {
            font-size: 1.6rem;
        }
    }

    &__sub-heading {
        font-size: 1.3rem;
    }

    &__address {
        margin-right: 1rem;
    }


    @include respond(phone) {
        padding: 5rem;
    }
}

.numOfPharmacies {
    padding: 2.5rem 0 3rem;
    background-color: $color-blue-light;
    position: relative;
    display: flex;
    justify-content: space-around;

    @include respond(phone) {
        flex-direction: column;
        align-items: center;
        padding: 4.3rem 0;
    }

    .circle {
        position: absolute;
        top: $top;

        &-left {
            right: -1%;

            @include respond(phone) {
                top: 28%;
                right: -5%;
            }
        }

        &-right {
            left: -1%;

            @include respond(phone) {
                top: 28%;
                left: -5%;
            }
        }

        @include respond(phone) {
            top: 28%;
        }

    }

    .box {
        // width: 33.333%;

        color: $color-white;

        &__title {
            font-size: $default-font-size;
            margin-bottom: 1.7rem;
            text-align: center;


            @include respond(phone) {
                display: none;
                font-size: 1.75rem;
            }

            &--phone {
                display: none;

                @include respond(phone) {
                    display: block;
                }
            }

        }

        &__number {
            font-size: 3.6rem;
        }

        @include respond(phone) {
            &:not(:last-child) {
                margin-bottom: 5rem;
            }
        }
    }
}

.services {
    padding: 12rem 14rem;
    height: auto;

    @include respond(tab-land) {

        padding: 5rem;
    }

    @include respond(tab-port) {
        padding: 4rem;


    }

    @include respond(phone) {
        padding: 4.5rem 1rem 10rem 1rem;

    }



    &__textBox {
        @include respond(phone) {
            padding-right: 4rem;
        }

        &-main-heading {
            @include section-title;
            margin-bottom: 1.5rem;
            padding-right: 2rem;


        }

        &-heading {
            @include section-title;
            padding-right: 0;
            border-right: 0;
            margin-bottom: 1.2rem;
        }

        &-text {
            @include section-description;

            @include respond(tab-land) {
                margin-bottom: 2rem;
            }
        }
    }

    &__cardBox {
        width: 94%;
        height: 50rem;
        margin-top: 6rem;


        display: flex;
        justify-content: space-between;

        @include respond(tab-land) {
            height: auto;
            margin-top: 2.5rem;
            flex-direction: column;
        }

        @include respond(tab-port) {

            margin-top: 2.5rem;
            flex-direction: column;
        }

        @include respond(phone) {
            flex-direction: column;
            padding: 0 4.2rem 0 1rem
        }

        .card {
            @include cardsBoxShadow;
            width: 38%;
            padding: 0 2rem 0 1rem;



            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            @include respond(tab-land) {
                width: 100%;
                justify-content: space-evenly;
                padding: 4rem;

                &:first-child {
                    margin-bottom: 7rem;
                }
            }

            @include respond(tab-port) {
                width: 100%;
                justify-content: space-evenly;
                padding: 4rem;

                &:first-child {
                    margin-bottom: 2rem;
                }
            }

            @include respond(phone) {
                width: 100%;
                height: 42.75rem;

                &:first-child {
                    margin-bottom: 7rem;
                }

                &:last-child {
                    margin-bottom: 3rem;
                }

                .services__textBox {
                    padding-right: 1rem;
                }
            }

            img {
                width: 10.288rem;
            }

            a {
                @include respond(phone) {
                    padding: 1.75rem 7.6rem 2.1rem 7rem;
                    font-size: 2rem;
                }
            }

        }
    }
}