.header {

    padding: 4.4rem 13rem 4.4rem 4.4rem;

    @include respond(generic-desktop) {
        padding: 4.4rem 9rem 4.4rem 4.4rem;
    }

    @include respond(tab-land) {
        padding: 4.4rem 8rem 4.4rem 4.4rem;
    }

    @include respond(tab-port) {
        padding: 3.5rem;
    }

    @include respond(small-phone) {
        padding: 3.5rem 0 5rem 0;
        margin: 0 auto;
        height: 100vh;
    }

    &__img {
        height: 10rem;
        width: 100%;
        position: relative;

        @include respond(big-phone) {
            height: auto;
            margin-bottom: 4rem;
            width: auto;
        }

        @include respond(small-phone) {
            width: auto;
            height: auto;
            margin: 0 auto;
        }
    }

    &__shape {
        position: absolute;
        left: -12%;
        width: 85rem;

        @include respond(generic-desktop) {
            display: block;
            left: -21%;
        }

        @include respond(tab-land) {
            display: none;
        }

        @include respond(big-phone) {
            display: none;
        }
    }

    &__doc {
        width: 40rem;
        position: absolute;
        left: 9%;
        top: 111%;

        @include respond(generic-desktop) {
            left: 4%;
            top: 111%;
        }

        @include respond(tab-land) {
            transform: translateX(-5rem);
        }

        @include respond(big-phone) {
            position: static;
            padding: 2rem 0 0 4rem;
        }

        @include respond(small-phone) {
            display: none;
        }

        &--phone {
            display: none;

            @include respond(small-phone) {
                display: block;
            }
        }
    }

    &__box {
        position: relative;

        @include respond(big-phone) {
            height: auto;
            position: static;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }

        @include respond(small-phone) {
            height: 70vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin-top: 3rem;
        }


    }

    &__info {
        display: flex;
        flex-direction: column;
        margin-top: 10rem;

        @include respond(tab-port) {
            margin-right: 0;
        }

        @include respond(big-phone) {
            margin: 0;
            align-items: center;
        }

        @include respond(small-phone) {
            margin: 0;
            text-align: center;
            align-items: center;
            margin-top: 7rem;
        }

    }

    &__title {
        font-size: 3.6rem;
        color: $color-blue-light;

        @include respond(big-phone) {
            text-align: center;
        }
    }

    &__description {
        font-size: 1.8rem;
        font-weight: lighter;


        @include respond(small-phone) {
            display: none;
        }

        &--phone {
            display: none;

            @include respond(small-phone) {
                display: block;
                margin-bottom: 2rem;
            }
        }

    }

    &__buttons {
        @include respond(big-phone) {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: space-around;
            height: 20vh;
            width: 80%;
            // margin-right: 2rem;
        }

        @include respond(small-phone) {
            width: 20rem;
            height: 20rem;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }

        a {
            text-align: center;

            @include respond(small-phone) {
                font-size: 2rem;
                padding: 1rem;
                font-weight: lighter;
            }

            &:first-child {
                @include respond(small-phone) {
                    display: none;
                }
            }

            &:last-child {
                @include respond(big-phone) {
                    margin-right: 0;
                    ;
                }

                @include respond(small-phone) {
                    margin: 0;
                }
            }
        }

    }

    &-direct-download-btn {
        display: none;

        @include respond(small-phone) {
            display: block;
        }
    }
}