.main {
    &>* {
        padding: 20rem 20rem;
    }


    .about {
        padding: 40rem 7rem 0;

        @include respond(generic-desktop) {
            padding: 25rem 0 0;
        }

        @include respond(tab-land) {
            padding: 20rem 7rem 10rem 4rem;
        }

        @include respond(tab-port) {
            padding: 20rem 0 10rem;
        }

        @include respond(big-phone) {
            padding: 5rem;
        }


        @include respond(small-phone) {
            padding: 2rem 2rem 10rem 2rem;
        }

    }

    .facilities {
        padding: 20rem 12rem;

        @include respond(generic-desktop) {
            padding: 15rem 10rem 25rem;
        }

        @include respond(tab-land) {
            padding: 10rem 6rem 25rem;
        }

        @include respond(tab-port) {
            padding: 0 5rem 15rem;
        }

        @include respond(big-phone) {
            padding: 0 5rem 5rem;
        }

        @include respond(small-phone) {
            padding: 0 2rem 4rem;
        }
    }

    .download {
        padding: 0 10rem;

        @include respond(tab-land) {
            padding: 0 4rem;
        }


        @include respond(big-phone) {
            padding: 4rem;
        }

        @include respond(small-phone) {
            padding: 7rem 0 2rem;
        }
    }

    .subscription {
        width: 100%;

        @include respond(generic-desktop) {
            padding: 15rem 5rem 15rem 5rem;
        }

        @include respond(tab-land) {
            padding: 5rem;
        }

        @include respond(tab-port) {
            padding: 6rem;
        }

        @include respond(big-phone) {
            padding: 4rem;
        }

        @include respond(small-phone) {
            padding: 2rem;
        }


    }
}

// About
.about {

    &__container {
        display: flex;
        width: 80%;
        justify-content: space-around;

        @include respond(generic-desktop) {
            width: 85%;
            justify-content: space-evenly;
        }

        @include respond(tab-land) {
            width: 90%;
            justify-content: space-evenly;
        }

        @include respond(tab-port) {
            width: 100%;
        }

        @include respond(big-phone) {
            flex-direction: column;
        }


        @include respond(small-phone) {
            flex-direction: column;
        }
    }

    &__infoBox {
        order: 1;
        width: 53.65rem;
        align-self: center;

        @include respond(tab-port) {
            margin-right: 0;
        }

        @include respond(big-phone) {
            width: 100%;
            margin-top: 3rem;
        }

        @include respond(small-phone) {
            padding: 0 3rem;
            width: auto;
        }


    }

    &__imgBox {
        order: 0;
        width: 35.7rem;

        @include respond(tab-land) {
            margin-left: 8rem;
        }

        @include respond(tab-port) {
            margin: 4rem;
        }

        @include respond(big-phone) {
            text-align: center;
            margin: 0 auto;
        }


        @include respond(small-phone) {
            margin: 0 auto;
        }

        img {
            width: 35rem;

            @include respond(tab-land) {
                object-fit: cover;
            }

            @include respond(tab-port) {
                object-fit: fill;


            }

            @include respond(big-phone) {
                width: 35rem;
            }

            @include respond(small-phone) {
                // width: 90vw;
                width: 32rem;

            }
        }
    }

    &__title {
        @include section-title;

        @include respond(tab-land) {
            font-size: 2.5rem;
            padding-right: 1.8rem;
        }

        @include respond(small-phone) {
            display: none;
            padding-right: 1.8rem;
            font-size: 2rem
        }


        &--phone {
            display: none;

            @include respond(small-phone) {
                display: block;
                margin-top: 3rem;
                // width: 90%;
                // margin-right: 3rem;
            }
        }
    }

    &__description {
        width: 100%;
        font-size: $default-font-size;
        font-weight: 100;
        opacity: 70%;

        line-height: 3.5rem;

        @include respond(tab-land) {
            font-size: 1.8rem;

        }

        @include respond(tab-port) {
            width: 95%;
        }

        @include respond(small-phone) {
            display: none;
        }



        &--phone {
            display: none;

            @include respond(small-phone) {
                display: block;
            }
        }



        @include respond(small-phone) {
            width: 100%;

        }
    }

    &__cards {
        width: 53.65rem;
        display: flex;
        justify-content: space-between;

        @include respond(tab-land) {
            width: 48.65rem;
        }

        @include respond(tab-port) {
            width: 90%;
        }

        @include respond(small-phone) {
            display: none;
        }



        .card {
            position: relative;

            width: 8rem;
            height: 8rem;
            margin-bottom: 1.5rem;

            @include cardsBoxShadow;

            img {

                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                @include respond(tab-land) {
                    width: 3rem;
                }
            }

            &-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            &-label {
                font-size: 1.4rem;
                font-weight: 100;

                @include respond(tab-land) {
                    font-size: 1.6rem;
                }
            }
        }
    }
}

// Facilities
.facilities {

    width: 100%;

    @include respond(big-phone) {
        height: 90rem;
    }

    @include respond(small-phone) {
        height: 100rem;
    }

    .container {
        width: 90%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 2fr 3fr;
        row-gap: 2rem;
        column-gap: 8rem;
        grid-template-areas:
            "header header header header"
            "services  pharmacy  pharmacy pharmacy "
            "services process  process process";

        @include respond(tab-land) {
            width: 80%;
            grid-template-rows: 1fr;
            column-gap: 6rem;
        }


        @include respond(tab-port) {
            grid-template-columns: repeat(4, 35rem);
        }


        @include respond(big-phone) {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        @include respond(small-phone) {
            display: flex;
            flex-direction: column;
            height: auto;
            width: 100%
        }
    }

    &__title {
        @include section-title;
        height: 3.2rem;
        grid-area: header;
        margin-right: 1.2rem;

        @include respond(tab-land) {
            font-size: 2.5rem;

        }

        @include respond(small-phone) {
            display: none;
            font-size: 2rem;
        }



        &--phone {
            display: none;

            @include respond(small-phone) {
                display: block;
                padding-right: 2rem;
            }
        }
    }

    &__pharmacy {
        padding: 1rem;
        grid-area: pharmacy;

        @include respond(small-phone) {
            width: 100%;
            order: 2;
            margin-top: 2rem;
        }
    }

    &__services {
        grid-area: services;
        display: grid;
        grid-template-columns: repeat(2, 20rem);
        justify-items: center;
        align-items: center;
        row-gap: 4rem;

        @include respond(tab-land) {
            grid-template-rows: repeat(2, 1fr);
        }

        @include respond(tab-port) {
            justify-items: start;
            grid-template-rows: repeat(2, 20rem);
            row-gap: 0;
            margin-top: 5rem;
        }

        @include respond(big-phone) {
            display: flex;
            justify-content: space-between;
            width: 75rem;
            margin-bottom: 2rem;
        }

        @include respond(small-phone) {
            order: 1;
            display: flex;
            align-items: center;
            width: 100%;
            margin-right: 2rem;
        }

    }



    &__card {
        width: 16rem;
        height: 16rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem;
        @include cardsBoxShadow;

        &:not(:first-child) {
            @include light-shadowbox
        }

        @include respond(big-phone) {
            width: 14rem;
            height: 14rem;
        }






        &--visit,
        &--pharmacy {
            @include respond(big-phone) {
                padding: 2rem;
            }
        }

        &--shop {
            @include respond(big-phone) {
                padding: 2rem;
            }
        }


        &--reservation {
            @include respond(big-phone) {
                padding: 2rem;
            }
        }

        @include respond(small-phone) {
            justify-content: center;
            width: 15rem;
            height: 15rem;
            margin-left: 3rem;
            padding: 4rem;
        }
    }

    &__label {
        font-size: 1.4rem;
        text-align: center;
        margin-top: 1.5rem;
        opacity: 60%;
    }


    &__header {
        font-size: $default-font-size;
        margin-bottom: 1.5rem;

        @include respond(tab-land) {
            font-size: 2rem;
        }
    }

    &__description {
        @include section-description;

        &--phone {
            display: none;
        }

        @include respond(tab-land) {
            font-size: 1.8rem;
            width: 40vw;
        }

        @include respond(big-phone) {
            font-size: 1.9rem;
            width: 100%;
        }

        @include respond(small-phone) {
            width: 100%;
            display: none;

            &--phone {
                display: block;
            }
        }
    }

    &__process {
        grid-area: process;
        display: flex;
        width: 50.8rem;
        height: 21.8rem;

        @include respond(tab-land) {
            height: 28rem;
            margin-top: 4rem;
        }

        @include respond(big-phone) {
            margin-top: 2rem;
            width: 100%;
            height: 30rem;

        }

        @include respond(small-phone) {
            order: 3;
            width: 100%;
            height: 35rem;
        }
    }

    &__diagram {

        position: relative;

        @include respond(tab-land) {
            margin-left: 1.5rem;
        }

    }

    &__step {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-self: flex-end;

        @include respond(generic-desktop) {
            transform: translateY(1rem);
        }

        @include respond(big-phone) {
            width: 100%;
        }

        @include respond(small-phone) {
            // transform: translateY(1rem);
            width: 100%;
        }

        &--3 {
            .facilities__step-description--container {
                justify-content: flex-end;
            }

            transform: translateY(1.2rem);
        }
    }

    &__circle-container::before {
        content: "";
        background-color: $color-black-transparent;
        width: 2px;
        height: 100%;
        position: absolute;
    }



    &__circle-container {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    &__circle {
        z-index: 10;
        width: 3.4rem;
        height: 3.4rem;
        border-radius: 50%;
        background-color: $color-grey;
        display: flex;
        justify-content: center;
        align-items: center;


        @include respond(tab-land) {
            width: 4.5rem;
            height: 4.5rem;
        }

        @include respond(big-phone) {
            width: 4.1rem;
            height: 4.1rem;
        }

        &--arrow {
            @include circle-icons;
            transform: rotate(-90deg)
        }

        &--check {
            @include circle-icons;

            @include respond(tab-land) {
                width: 2rem;
            }
        }
    }


    &__step-heading {
        font-size: $default-font-size;
        margin-right: 1rem;



        @include respond(tab-land) {
            font-size: 1.9rem;
        }

        @include respond(big-phone) {
            // margin: 4rem 1rem 0 0;
        }
    }

    &__step-description {

        &--container {
            width: 45rem;
            height: 3rem;
            display: flex;
            justify-content: space-around;
            align-items: flex-end;

            @include respond(tab-land) {
                display: block;
                transform: translate(-3rem);
                width: 40vw;
            }

            @include respond(big-phone) {
                width: 100%;
            }

            @include respond(small-phone) {
                height: auto;
                width: 100%;
                padding-left: 1rem;
            }
        }

        font-size: 1.4rem;
        opacity: .7;
        display: flex;

        @include respond(tab-land) {
            font-size: 1.8rem;

        }


        @include respond(big-phone) {
            margin-right: 1rem;
        }

        @include respond(small-phone) {
            height: auto;
            width: 100%;
        }


    }

    &__icon {
        @include respond(big-phone) {
            width: 7rem;
            height: 7rem;
        }

        @include respond(small-phone) {
            width: 5rem;
            height: 5rem;
        }

        &--shop {
            @include respond(tab-land) {
                width: 5.5rem;
            }
        }
    }

    .check {
        background-color: $color-green;
    }

}

// Download
.download {
    position: relative;
    background-color: $color-download-bg;
    overflow: hidden;

    @include respond(big-phone) {
        height: 111.625rem;

        &>img {
            display: none;
        }
    }


    @include respond(small-phone) {
        height: 111.625rem
    }


    .cloud {
        position: absolute;

        @include respond(tab-land) {
            display: none;
        }
    }

    .cloud-left {
        left: -4%;
        top: -12%;
        opacity: .5;

        @include respond(generic-desktop) {
            left: -25%;
            top: -6%;
        }

        @include respond(tab-land) {
            left: -25%;
            top: -6%;
        }
    }

    .cloud-right {
        right: -15%;
        top: -37%;
        transform: rotate(-8deg);
        // opacity: .5;

    }

    &__content {
        display: flex;
        align-items: center;

        @include respond(big-phone) {
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 111.625rem;
        }

        @include respond(small-phone) {
            height: auto;
            flex-direction: column;
            width: 100%;
        }
    }

    &__img-preview {
        order: 1;
        width: 57.3rem;
        height: 57.2rem;
        display: flex;
        align-items: flex-end;



        @include respond(tab-land) {
            width: 100%;
        }

        @include respond(tab-port) {
            width: 100%;
        }


        @include respond(big-phone) {
            justify-content: center;
        }

        @include respond(small-phone) {
            transform: translateY(13rem);
        }



        img {
            margin-bottom: -1rem;
            height: 55rem;


            @include respond(tab-land) {
                width: 100%;
                object-fit: cover;
                margin-right: 2rem;
            }



            @include respond(big-phone) {
                margin: 0;
                width: auto;
                justify-content: center;
            }

            @include respond(small-phone) {
                margin: 0;
            }
        }

    }

    &__download-link {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 60%;
        height: 30rem;
        color: $color-white;

        @include respond(tab-land) {
            padding-right: 0;

            &>* {
                margin-bottom: 3rem;
            }
        }


        @include respond(tab-port) {
            width: 50%;
        }


        @include respond(big-phone) {
            width: 100%;
            height: 50rem;
            justify-content: space-between;
            align-items: center;
            padding: 0 2rem;

            &>* {
                margin-bottom: 0;
            }
        }



        @include respond(small-phone) {
            width: 100%;
            align-items: center;
            margin-top: 5rem;
        }

    }

    &__header {
        font-size: 2.4rem;
        font-weight: bold;

        @include respond(big-phone) {
            font-size: 2.2rem;
        }

    }

    &__text {
        font-size: $default-font-size;
        margin-top: 2rem;

        @include respond(big-phone) {
            display: none;
        }

        &--phone {
            display: none;

            @include respond(big-phone) {
                display: block;
                font-size: 2rem;
            }

        }
    }



    &__inputBox {
        position: relative;
        width: 50rem;

        @include respond(tab-port) {
            width: 105%;
        }

        @include respond(big-phone) {
            width: 45rem;
        }

        @include respond(small-phone) {
            width: 100%;
        }

        .input-field {
            width: 100%;
        }

        a {
            right: 78%;
            top: 12%;
        }


        @include respond(big-phone) {
            a {
                width: 20%;
                position: absolute;
                right: 75%;
                display: inline;
            }
        }
    }


    &__social {
        display: flex;
        justify-content: space-between;
        width: 60rem;

        // @include respond(tab-land) {
        //     display: flex;
        // }

        @include respond(tab-port) {
            justify-content: flex-start;
            width: 50rem;
        }

        @include respond(big-phone) {
            width: 25rem;
            margin: 0 auto;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        @include respond(small-phone) {
            margin: 0;
            flex-direction: column;
            align-items: center;
        }


        &-icon {
            width: 18rem;
            opacity: .9;
            cursor: pointer;


            @include respond(tab-land) {
                margin-left: 2rem;
            }

            @include respond(tab-port) {
                margin-left: 3rem;
            }

            @include respond(big-phone) {
                margin-bottom: 2rem;
                width: 20rem;
            }


            @include respond(small-phone) {
                width: 22.5rem;
                margin: 0 0 3rem;
            }
        }

        &--android {
            @include respond(big-phone) {
                display: block;
            }

            @include respond(small-phone) {
                display: none;
            }
        }

        &--bazar {
            @include respond(tab-port) {
                display: none;
            }

            @include respond(big-phone) {
                display: block;
            }

            @include respond(small-phone) {
                display: block;
            }
        }



    }

    .input-field {
        @include respond(big-phone) {
            width: 100%;
        }
    }
}

// Subscription
.subscription {
    overflow: hidden;
    position: relative;

    @include respond(generic-desktop) {
        display: flex;
        justify-content: center;
    }

    @include respond(tab-land) {
        display: flex;
        justify-content: center;
    }

    @include respond(big-phone) {
        width: 100%;
    }


    &__cloud {
        position: absolute;
        right: -2%;
        z-index: -999;

        @include respond(tab-land) {
            display: none;
        }

        @include respond(big-phone) {
            display: none;
        }
    }

    &__content {
        height: 43.038rem;
        @include cardsBoxShadow;
        display: flex;
        justify-content: space-evenly;
        padding: 0 5.5rem;


        @include respond(generic-desktop) {
            justify-content: flex-start;
            width: 85%;
        }

        @include respond(tab-land) {
            width: 100%;
            padding: 0 3rem;
            justify-content: space-around;
        }


        @include respond(big-phone) {
            flex-direction: column;
            height: 66.45rem;
            width: 100%;
            padding: 0 2rem;

        }

        @include respond(small-phone) {
            height: 68.75rem;
            flex-direction: column;
            padding: 0 1rem;
            margin: 9rem 0;
        }

    }

    &__textBox {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include respond(generic-desktop) {
            width: 100%;
            flex-shrink: 1;
        }

        @include respond(tab-land) {
            padding: 0;
            width: 70%;
        }

        @include respond(tab-port) {
            width: 100%;
            margin: 0;
        }


        @include respond(big-phone) {
            flex-direction: column;
            order: 1;
            width: 100%;
            margin-top: 3rem;
        }

        @include respond(small-phone) {
            order: 1;
            padding: 1.5rem;
            margin: 0;
            justify-content: flex-start;
            height: auto;
            width: 100%;
        }

    }

    &__title {
        @include section-title;
        margin-bottom: 2rem;

        @include respond(tab-land) {
            font-size: 2.5rem;
            margin-bottom: 3rem;
        }

        @include respond(big-phone) {
            display: none;
            font-size: 2rem;
            margin-bottom: 3rem;
        }

        &--phone {
            display: none;

            @include respond(big-phone) {
                display: block;
                width: 100%;
            }
        }
    }

    &__description {
        @include section-description;
        margin-bottom: 3.6rem;

        @include respond(tab-land) {
            font-size: 1.9rem;
            margin-bottom: 3rem;
        }

        @include respond(big-phone) {
            width: 100%;
            margin-bottom: 2rem;
            font-size: 1.9rem;
        }

    }

    &__inputBox {
        position: relative;
        width: 50rem;

        @include respond(generic-desktop) {
            width: 46rem;
        }

        @include respond(big-phone) {
            width: 40rem;
        }

        @include respond(small-phone) {
            width: 100%;
        }



        .input-field {
            width: 100%;

            @include respond(small-phone) {
                display: none;
            }

            &--sm {
                display: none;

                @include respond(small-phone) {
                    display: block;
                    width: 100%;
                }
            }
        }

        a {
            top: 11%;
            right: 72%;


            @include respond(big-phone) {
                padding: 1rem;
            }

            @include respond(small-phone) {
                top: 6%;
                padding: .8rem;
                text-align: center;

            }
        }
    }

    &__imgbox {
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        object-fit: cover;

        @include respond(small-phone) {
            display: block;
        }

        img {
            @include respond(tab-land) {
                max-height: 100%;
                max-width: 100%;
            }
        }
    }


}

::placeholder {
    opacity: .8;
    font-size: 1.4rem;
    font-family: inherit;

    @include respond(tab-land) {
        font-size: 1.2rem;
        opacity: .9;
    }

    @include respond(tab-port) {
        font-size: 1.5rem;
        opacity: .9;
    }

    @include respond(big-phone) {
        font-size: 1.5rem;
    }
}