nav {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 4rem 0;


    @include respond(tab-port) {
        width: 100%;
        padding: 3rem;
        justify-content: space-between;
        margin-bottom: 2rem;
    }

    @include respond(big-phone) {
        width: 100%;
        padding: 4rem 2rem;
        justify-content: space-between;
        margin-bottom: 2rem;

        .list,
        .list+a {
            display: none;
        }
    }

    @include respond(small-phone) {

        .list,
        .list+a {
            display: none;
        }
    }
}

.logo {
    display: flex;

    &__img {
        width: 3.2rem;
        margin-left: 1rem;

        @include respond(big-phone) {
            margin-left: 1.8rem;
        }

        @include respond(small-phone) {
            width: 4.3rem;
            margin-left: 2.2rem;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 1.8rem;
        margin-bottom: .65rem;

        @include respond(big-phone) {
            font-size: 2.25rem;
            margin-bottom: .5rem;
        }
    }

    &__description {
        font-size: 1.2rem;

        &--bigPhone {
            display: none;
        }

        @include respond(tab-land) {
            font-size: 1.6rem;
        }

        @include respond(tab-port) {
            font-size: 1.75rem;
        }

        @include respond(big-phone) {
            display: none;
            font-size: 1.5rem;

            &--bigPhone {
                display: block;
            }
        }

        @include respond(small-phone) {
            display: none;

            &--bigPhone {
                display: block;
            }
        }
    }
}

.list {
    width: 30%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    color: $color-black;

    @include respond(generic-desktop) {
        width: 42%;
    }

    @include respond(tab-land) {
        width: 45%;
    }

    @include respond(tab-port) {
        width: 50%;
    }

    &__item {
        font-size: $default-font-size;
        opacity: 70%;
        cursor: pointer;
    }

    &__link {
        text-decoration: none;
        color: inherit;

        @include respond(tab-land) {
            font-size: 1.8rem;
        }
    }
}

nav.nav-phone {
    display: none;
    background-color: $color-white;
    box-shadow: -9px 1px 11px -2px rgba(0, 0, 0, 0.51);
    transform: translateX(105%);
    transition: transform .3s ease-in;



    @include respond(big-phone) {
        @include mobile-menu;
    }

    @include respond(small-phone) {
        @include mobile-menu;
    }
}

.hamburger {
    display: none;

    div {
        width: 2.5rem;
        height: 2px;
        background-color: $color-blue-light;
        margin-bottom: 5px;
    }

    @include respond(generic-desktop) {
        display: none;
    }

    @include respond(tab-land) {
        display: none;
    }

    @include respond(tab-port) {
        display: none;
    }

    @include respond(big-phone) {
        display: block;
    }

    @include respond(small-phone) {
        display: block;
    }

}